* {
    font-family: Arial, sans-serif;
}

#mapContainer {
    width: 1200px;  /* Ajusta según tus necesidades */
    height: 4500px; /* Ajusta según tus necesidades */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#myMap {
    position: relative;
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar */
    margin-top: 0;
    pointer-events: visible;
}

#coastersList h2 {
    margin-bottom: 15px; /* Espacio debajo del título */
}

#coastersList div {
    margin-bottom: 10px; /* Espacio entre nombres */
}

#coastersList {
    width: 285px;
    padding: 2px;
    overflow-y: auto;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    position: absolute;
    top: 0px;
    left: 0px;
}


#controls {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

#details {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    display: none;  /* Inicialmente está oculto */
    max-width: 300px; /* Ancho máximo para el contenedor */
    position: absolute; /* Para que se pueda mover si es necesario */
    z-index: 10; /* Para asegurarse de que quede encima de otros elementos */
}

#title {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    position: relative; /* Cambiar a relativo */
    margin-bottom: 0;

}

h1 {
    font-size: 50px;
    font-weight: 200;
    color: #777777;
}

span {
    display: block;
    margin-top: 6px;
}

#hoverInfo {
    width: 220px;
    padding: 2px;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
}